<h1>Song Details</h1>
<h3>Artist: <%= @song.artist.name %></h3>
<h3>Title: <%= @song.title %></h3>
<h3>Length: <%= @song.length %></h3>
<h3>Play Count: <%= @song.play_count %></h3>

<%= button_to "Add song to a playlist", "/playlist_songs/new/#{@song.id}", method: :get, class: "btn btn-secondary"%>
<%= button_to "Add Song to Cart", "/cart/#{@song.id}", method: :patch, class: "btn btn-secondary" %>
