<h1><%= @playlist.name %></h1>

<% @playlist.songs.each do |song| %>
  <div id="song-<%=song.id%>">
    <h4>
      <%= song.title %>;
      by: <%= song.artist.name%>
    </h4>
    <%= button_to "Remove", "/playlist_songs/#{@playlist.id}/#{song.id}", method: :delete, class: "btn btn-outline-secondary" %>
    <br>
  </div>
<% end %>